.aj-content-article
  color: #333

  h2
    font-size: 50px
    display: inline-block
    vertical-align: top

  p, li
    font-size: 18px
    text-align: justify
    line-height: 25px

  p
    margin-bottom: 10px

  em
    display: block

  h4
    text-transform: uppercase
    font-size: 30px
    font-weight: 700
    margin-bottom: 15px
