.aj-header
  background: inline-image("bg-header-2.png")
  background-size: 100%
  background-attachment: fixed

[class*="aj-content-"]
  width: 80%

.aj-content-header
  padding-top: 50px
  margin: 0 auto


