.aj-header
  display: table
  background-image: inline-image("_bg-header.jpeg")
  -webkit-clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%)
  clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%)
  background-repeat: no-repeat
  background-attachment: fixed
  background-position: 0 -500px
  background-size: 100%
  width: 100vw
  height: 100vh
  margin-bottom: 40px

.aj-content-header
  display: table-cell
  vertical-align: middle

  h1, h3
    text-align: center
    color: #fff

  h1
    font-size: 70px

  h3
    font-weight: 300
    font-size: 30px

.aj-social-networking
  text-align: center
  margin-top: 20px

  li
    display: inline-block
    margin-right: 5px

    &:last-child
      margin-right: 0

    a
      display: inline-block
      +single-transition(all, .4s)

      &:hover,
      &:focus
        opacity: .8

      &::before
        font-size: 30px
        color: #fff

@media screen and (max-width: 992px)

  .aj-header
    background-position: 0 0
    background-attachment: scroll

    .aj-content-header

      h1
        font-size: 45px

      h3
        font-size: 15px

  .aj-social-networking

    li a::before
      font-size: 40px

@media print
  .aj-header
    background: none
    display: block
    height: 90px !important

    .aj-content-header
      display: block
      padding: 40px 0

      h1
        font-size: 30px
        color: #333
        text-align: left

      h3
        font-size: 15px
        color: #333
        text-align: left

    .aj-social-networking
      display: none
