.aj-header
  -webkit-animation-name: animationBackground
  -moz-animation-name: animationBackground
  animation-name: animationBackground

  -webkit-animation-fill-mode: both
  -moz-animation-fill-mode: both
  animation-fill-mode: both

  -webkit-animation-duration: 20s
  -moz-animation-duration: 20s
  animation-duration: 20s

  -webkit-animation-iteration-count: infinite
  -moz-animation-iteration-count: infinite
  -ms-animation-iteration-count: infinite
  animation-iteration-count: infinite

  -webkit-animation-direction: alternate
  -moz-animation-direction: alternate
  animation-direction: alternate

@-webkit-keyframes animationBackground
  0%
    -webkit-filter: grayscale(100%)
  100%
    -webkit-filter: grayscale(0)

@-moz-keyframes animationBackground
  0%
    -moz-filter: grayscale(100%)
  100%
    -moz-filter: grayscale(0)

@keyframes animationBackground
  0%
    filter: grayscale(100%)
  100%
    filter: grayscale(0)

.aj-content-header
  -webkit-animation-name: animationContentHeader
  -moz-animation-name: animationContentHeader
  animation-name: animationContentHeader

  -webkit-animation-fill-mode: both
  -moz-animation-fill-mode: both
  animation-fill-mode: both

  -webkit-animation-duration: 1s
  -moz-animation-duration: 1s
  animation-duration: 1s

@-webkit-keyframes animationContentHeader
  0%
    opacity: 0
    -webkit-transform: translateY(-20px)
  100%
    opacity: 1
    -webkit-transform: translateY(0)

@-moz-keyframes animationContentHeader
  0%
    opacity: 0
    -moz-transform: translateY(-20px)
  100%
    opacity: 1
    -moz-transform: translateY(0)

@keyframes animationContentHeader
  0%
    opacity: 0
    transform: translateY(-20px)
  100%
    opacity: 1
    transform: translateY(0)
