@-webkit-keyframes animationBackground
  0%
    -webkit-filter: grayscale(100%)
  100%
    -webkit-filter: grayscale(0)

@-moz-keyframes animationBackground
  0%
    -moz-filter: grayscale(100%)
  100%
    -moz-filter: grayscale(0)

@keyframes animationBackground
  0%
    filter: grayscale(100%)
  100%
    filter: grayscale(0)

@-webkit-keyframes animationClipPath
  0%
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
  100%
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%)
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%)

@-moz-keyframes animationClipPath
  0%
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
  100%
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%)
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%)

@keyframes animationClipPath
  0%
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
  100%
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%)
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%)

.aj-header
  -webkit-animation-name: animationBackground, animationClipPath
  -moz-animation-name: animationBackground, animationClipPath
  animation-name: animationBackground, animationClipPath

  -webkit-animation-fill-mode: both, both
  -moz-animation-fill-mode: both, both
  animation-fill-mode: both, both

  -webkit-animation-delay: 0, 2s
  -moz-animation-delay: 0, 2s
  animation-delay: 0, 2s

  -webkit-animation-duration: 20s, .6s
  -moz-animation-duration: 20s, .6s
  animation-duration: 20s, .6s

  -webkit-animation-iteration-count: infinite, 1
  -moz-animation-iteration-count: infinite, 1
  -ms-animation-iteration-count: infinite, 1
  animation-iteration-count: infinite, 1

  -webkit-animation-direction: alternate
  -moz-animation-direction: alternate
  animation-direction: alternate

@-webkit-keyframes animationContentHeader
  0%
    opacity: 0
    -webkit-transform: translate3d(0,-20px,0)
  100%
    opacity: 1
    -webkit-transform: translate3d(0,0,0)

@-moz-keyframes animationContentHeader
  0%
    opacity: 0
    transform: translate3d(0,-20px,0)
  100%
    opacity: 1
    transform: translate3d(0,0,0)

@keyframes animationContentHeader
  0%
    opacity: 0
    transform: translate3d(0,-20px,0)
  100%
    opacity: 1
    transform: translate3d(0,0,0)

.aj-content-header
  -webkit-animation-name: animationContentHeader
  -moz-animation-name: animationContentHeader
  animation-name: animationContentHeader

  -webkit-animation-fill-mode: both
  -moz-animation-fill-mode: both
  animation-fill-mode: both

  -webkit-animation-duration: 1s
  -moz-animation-duration: 1s
  animation-duration: 1s

  -webkit-animation-delay: .8s
  -moz-animation-delay: .8s
  animation-delay: .8s
