[class*="aj-link"]
  +single-transition(all, .4s)
  color: #333

.aj-link-border
  border-bottom: 1px solid #333

.aj-link-locaweb:hover,
.aj-link-locaweb:focus
  color: #c70218

.aj-link-wakai:hover,
.aj-link-wakai:focus
  color: #97ba0c

.aj-link-cm42:hover,
.aj-link-cm42:focus
  color: #a70b0c

.aj-link-locawebstyle,
.aj-link-smtp,
.aj-link-emkt,
.aj-link-emkt-reseller,
.aj-link-cloud,
.aj-link-senac
  padding-bottom: 2px
  border-bottom: 1px solid #333

.aj-link-locawebstyle:hover,
.aj-link-locawebstyle:focus
  color: #0f6c30
  padding-bottom: 2px
  border-bottom: 1px solid #0f6c30

.aj-link-smtp:hover,
.aj-link-smtp:focus
  color: #25b89a
  border-bottom: 1px solid #25b89a

.aj-link-emkt:hover,
.aj-link-emkt:focus
  color: #1ab551
  border-bottom: 1px solid #1ab551

.aj-link-emkt-reseller:hover,
.aj-link-emkt-reseller:focus
  color: #a38e17
  border-bottom: 1px solid #a38e17

.aj-link-cloud:hover,
.aj-link-cloud:focus
  color: #254fa2
  border-bottom: 1px solid #254fa2

.aj-link-senac:hover,
.aj-link-senac:focus
  color: #f39b00
  border-bottom: 1px solid #f39b00

@media print
  [class*="aj-link"]
    border-bottom: none
