[class*="aj-link"]
  +single-transition(all, .4s)
  color: #333

.aj-link-border
  border-bottom: 1px solid #333

.aj-link-locaweb:hover,
.aj-link-locaweb:focus
  color: #c70218

.aj-link-wakai:hover,
.aj-link-wakai:focus
  color: #97ba0c

.aj-link-cm42:hover,
.aj-link-cm42:focus
  color: #a70b0c

.aj-link-locawebstyle
  padding-bottom: 2px
  border-bottom: 1px solid #333

  &:hover,
  &:focus
    color: #0f6c30
    padding-bottom: 2px
    border-bottom: 1px solid #0f6c30

.aj-link-smtp
  padding-bottom: 2px
  border-bottom: 1px solid #333

  &:hover,
  &:focus
    color: #25b89a
    border-bottom: 1px solid #25b89a

.aj-link-senac
  padding-bottom: 2px
  border-bottom: 1px solid #333

  &:hover,
  &:focus
    color: #f39b00
    border-bottom: 1px solid #f39b00
