*
  margin: 0
  padding: 0
  +box-sizing(border-box)

  &:after,
  &:before
    +box-sizing(border-box)

html,
body
  height: 100%

body
  font-family: 'Raleway', sans-serif
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

a, a:hover, a:focus
  text-decoration: none

img
  max-width: 100%

fieldset
  border: none

[class*="aj-content-"]
  width: 80%
  margin: 0 auto

