---
title: Antonio Junior
---
<main>
  <header class="aj-header">
    <div class="aj-content-header">
      <h1>Antonio Junior</h1>
      <h3>Front-end Developer & Multimedia Producer</h3>
      <ul class="aj-social-networking">
        <li><a href="//github.com/antoniojunyor" target="_blank" class="aj-ico-github" title="Github"></a></li>
        <li><a href="//linkedin.com/in/antoniojunyor" target="_blank" class="aj-ico-linkedin" title="linkedin"></a></li>
        <li><a href="//open.spotify.com/user/antoniojunyor" target="_blank" class="aj-ico-spotify" title="Spotify"></a></li>
        <li><a href="//fb.me/antoniojunyor" target="_blank" class="aj-ico-facebook" title="Facebook"></a></li>
        <li><a href="//twitter.com/_antoniojunyor" target="_blank" class="aj-ico-twitter" title="Twitter"></a></li>
      </ul>
    </div>
  </header>

  <article class="aj-content-article"></article>

</main>
