---
title: Antonio Junior
---
<main>
  <header class="aj-header">
    <div class="aj-content-header">
      <h1>Antonio Junior</h1>
      <h3>Front-end Developer & Multimedia Producer</h3>
      <ul class="aj-social-networking">
        <li><a href="//github.com/antoniojunyor" target="_blank" class="aj-ico-github" title="Github"></a></li>
        <li><a href="//linkedin.com/in/antoniojunyor" target="_blank" class="aj-ico-linkedin" title="linkedin"></a></li>
        <li><a href="//open.spotify.com/user/antoniojunyor" target="_blank" class="aj-ico-spotify" title="Spotify"></a></li>
        <li><a href="//fb.me/antoniojunyor" target="_blank" class="aj-ico-facebook" title="Facebook"></a></li>
        <li><a href="//twitter.com/_antoniojunyor" target="_blank" class="aj-ico-twitter" title="Twitter"></a></li>
      </ul>
    </div>
  </header>

  <article class="aj-content-article">
    <h2>About Me</h2>
    <p>Front-end developer, multimedia producer, photographer, passionate about food, and the city of São Paulo; I have worked in the front-end development area since 2011. During that year, I noticed a great connection between design, user experience and development, and I believe these are all great components in making a project successful.</p>
    <p>Currently, I am trying to contribute to the development community by helping in Open Source projects, like <a href="//locaweb.github.io/locawebstyle" title="Locaweb Style" target="_blank" class="aj-link-locawebstyle">Locaweb Style</a>.</p>

    <h4>Currently I work with</h4>
    <ul>
      <li>Accessibility</li>
      <li>Atomic design to code</li>
      <li>CSS3</li>
      <li>Development Frameworks and Style Guides</li>
      <li>Git</li>
      <li>Haml and Sass (Ruby)</li>
      <li>Jasmine tests</li>
      <li>Javascript modularized</li>
      <li>Responsive Design</li>
      <li>Semantic and modular HTML5</li>
      <li>Static site generators with Middleman</li>
      <li>Task runner with Grunt</li>
      <li>Web apps Ruby on Rails</li>
      <li>SEO</li>
    </ul>

    <h4>Currently I am studying</h4>
    <ul>
      <li>Angular</li>
      <li>Animations</li>
      <li>Following the news about new CSS selectors</li>
      <li>Responsive Design</li>
      <li>Web Components</li>
      <li>+ Javascript</li>
    </ul>

    <h4>Education</h4>
    <h5>Multimedia Producer</h5>
    <em>July/11 - December/13</em>
    <p>I studied at <a href="//sp.senac.br" title="Centro Universitário Senac" target="_blank" class="aj-link-senac">Centro Universitário Senac</a>, where I fell in love with photography, music, development, and the multimedia universe.</p>

    <h4>Where I've been</h4>
    <h5><a href="//locaweb.com.br" title="Locaweb" target="_blank" class="aj-link-locaweb">Locaweb</a></h5>
    <em>September/13</em>
    <p>Here I work in the Front-end team to the Locaweb products, and with the help of UX and Design team, we have developed an open source <a href="//locaweb.github.io/locawebstyle" title="Locaweb Style" target="_blank" class="aj-link-locawebstyle">framework</a> to meet all the basic needs of products Locaweb. Take a look and tell me what you think.</p>
    <p>In Locaweb, I helped develop the <a href="//www.locaweb.com.br/produtos/smtp-locaweb.html" target="_blank" title="SMTP Panel" class="aj-link-smtp">SMTP Panel</a>, a Platform for sending e-mails and automated notifications that also uses the Locaweb Style.</p>

    <h5><a href="//wakai.com.br" title="Wakai Software" target="_blank" class="aj-link-wakai">Wakai Software</a></h5>
    <em>August/13</em>
    <p>Through Wakai, I worked as a Front-end development consultant in Locaweb.</p>

    <h5><a href="//cm42.com.br" title="Code Miner 42" target="_blank" class="aj-link-cm42">Code Miner 42</a></h5>
    <em>September/12 - July/13</em>
    <p>This was the beginning I learned about front-end development, code quality, and testing. I worked on Ruby on Rails projects, and learned a little about JAVA projects. I also worked in projects like <a href="//espn.com.br" class="aj-link" title="ESPN" target="_blank">ESPN Brazil</a> and <a href="//cidadedemocratica.org.br" title="Cidade Democrática" class="aj-link" target="_blank">Cidade Democrática</a>.</p>
  </article>

</main>
