---
title: Antonio Junior
---
<main>
  <header class="aj-header">
    <div class="aj-content-header">
      <h1>Antonio Junior</h1>
      <h3>Front-end Developer & Multimedia Producer</h3>
      <ul class="aj-social-networking">
        <li><a href="//gitbub.com/antoniojunyor" target="_blank" class="aj-ico-github" title="Github"></a></li>
        <li><a href="//linkedin.com/in/antoniojunyor" target="_blank" class="aj-ico-linkedin" title="linkedin"></a></li>
        <li><a href="//open.spotify.com/user/antoniojunyor" target="_blank" class="aj-ico-spotify" title="Spotify"></a></li>
        <li><a href="//fb.me/antoniojunyor" target="_blank" class="aj-ico-facebook" title="Facebook"></a></li>
        <li><a href="//twitter.com/_antoniojunyor" target="_blank" class="aj-ico-twitter" title="Twitter"></a></li>
      </ul>
    </div>
  </header>

  <article>
    <div class="aj-content-article">
      <h2>About me</h2>
      <p>
        Desenvolvedor Front-end, Produtor multimídia, apaixonado por fotografia, gastronomia e pela cidade de São Paulo, gosto mais de café do que de pessoas.
        Acredito em uma forte ligação do desenvolvimento, experiência de usuário e o design e trabalho sempre pensando em como isso pode melhorar.
        Tento sempre contribuir para projetos Open Source como frameworks, como o Locaweb Style.
      </p>

      <h4>expertise</h4>
      <h5>Capacidades</h5>
      <ul>
        <li>Desenvolvimento front-end de alta qualidade</li>
        <li>Código responsivo, modular e reutilizavel</li>
        <li>SEO utilizando HTML semântico</li>
        <li>Design atomico para o código</li>
        <li>Otimização com usabilidade e acessibilidade</li>
      </ul>

      <h5>Skills</h5>
      <ul>
        <li>HTML semântico</li>
        <li>CSS e animações</li>
        <li>Conhecimento prático de JQuery</li>
        <li>Haml, Sass/less (Ruby)</li>
        <li>Desenvolvimento de interfaces com HTML utilizando Ruby on Rails e gerador de sites estáticos, como Middleman e Grunt</li>
      </ul>

      <h4>Educação</h4>
      <h5><a href="#">Centro Universitário Senac</a></h5>
      <p>
        <em>July 2011 - December 2013</em>
        Tecnologia em Produção Multimídia
      </p>

      <h4>Experiência</h4>
      <h5><a href="#">Locaweb</a></h5>
      <p>
        <em>September 2013 - Present</em>
        Consultor de desenvolvimento Front-end. O grande desafio na Locaweb é criar um framework com a base de interação (HTML, CSS e JS) para suprir todos os painéis.
      </p>

      <h5><a href="#">Wakai Software</a></h5>
      <p>
        <em>September 2013 - Present</em>
        Através da Wakai, eu sou consultor de desenvolvimento Front end na Locaweb.
      </p>

      <h5><a href="#">Code Miner 42</a></h5>
      <p>
        <em>September 2012 - July 2013</em>
        Aqui foi onde eu realmente comecei a entender o que é ser um Front-end, eu pude trabalhar e ajudar a melhorar projetos como ESPN e Cidade Democrática, e aprender com projetos como esses boas práticas de desenvolvimento.
      </p>

    </div>
  </article>

</main>
