---
title: Antonio Junior
---
<header class="header">
  <div class="content-header">
    <h1>Antonio Junior</h1>
    <h3>Front-end Developer, Multimedia Producer, ...</h3>
    <ul class="social-networking">
      <li><a href="#" target="_blank" class="ico-github" title="Github"></a></li>
      <li><a href="#" target="_blank" class="ico-spotify" title="Spotify"></a></li>
      <li><a href="#" target="_blank" class="ico-facebook" title="Facebook"></a></li>
      <li><a href="#" target="_blank" class="ico-twitter" title="Twitter"></a></li>
    </ul>
  </div>
</header>

<article>
  <div class="content-article">
    <h2>Hi!</h2>
  </div>
</article>


