---
title: Antonio Junior
---
<main>
  <header class="aj-header">
    <div class="aj-content-header">
      <h1>Antonio Junior</h1>
      <h3>Front-end Developer & Multimedia Producer</h3>
      <ul class="aj-social-networking">
        <li><a href="//github.com/antoniojunyor" target="_blank" class="aj-ico-github" title="Github"></a></li>
        <li><a href="//linkedin.com/in/antoniojunyor" target="_blank" class="aj-ico-linkedin" title="linkedin"></a></li>
        <li><a href="//open.spotify.com/user/antoniojunyor" target="_blank" class="aj-ico-spotify" title="Spotify"></a></li>
        <li><a href="//fb.me/antoniojunyor" target="_blank" class="aj-ico-facebook" title="Facebook"></a></li>
        <li><a href="//twitter.com/_antoniojunyor" target="_blank" class="aj-ico-twitter" title="Twitter"></a></li>
      </ul>
    </div>
  </header>

  <article class="aj-content-article">
    <h2>About Me</h2>
    <p>Front-end developer, produtor multimidia, fotógrafo, apaixonado por gastronomia e pela cidade de São Paulo, atuo na área de desenvolvimento front-end desde 2011. Durante esse anos, percebi uma grande ligação entre design, experiências de usuário e desenvolvimento, e acredito que são as grandes pontos para um projeto dar certo.</p>
    <p>Atualmente, tento contribuir para a comunidade de desenvolvimento ajudando em projetos Open Source, como o Locaweb Style.</p>

    <h4>Com o que eu trabalho atualmente</h4>
    <ul>
      <li>Javascript modularizado</li>
      <li>Design Atômico para o código</li>
      <li>Geradores de Sites estaticos, como o Middleman e o Grunt</li>
      <li>CSS3</li>
      <li>HTML5 semântico e modular </li>
      <li>Código responsivo</li>
      <li>Desenvolvimento de Frameworks e StyleGuides</li>
      <li>Testes Jasmine</li>
      <li>Aplicações web Ruby on Rails</li>
      <li>Haml e Sass (Ruby)</li>
      <li>SEO</li>
      <li>Sistema de versionamento Git</li>
    </ul>

    <h4>Atualmente eu estou estudando</h4>
    <ul>
      <li>CSS4</li>
      <li>Animações</li>
      <li>Angular</li>
      <li>Responsive Design</li>
      <li>Web Components</li>
      <li>Mais Javascript</li>
    </ul>

    <h4>Por onde eu já passei</h4>
    <h5>Locaweb</h5>
    <em>Setembro/13</em>
    <p>Aqui eu trabalho na equipe de Front-end para os produtos da Locaweb, e com a ajuda da equipe de UX e Design, desenvolvemos um framework open source para suprir todas as necessidades básicas dos produtos da Locaweb. Dá uma olhada e me diz o que você acha?</p>
    <p>Na Locaweb, ajudei a desenvolver o SMTP Panel, uma  Plataforma para envio de e-mails e notificações automatizadas que também utiliza o Locaweb Style.</p>

    <h5>Wakai Software</h5>
    <em>Agosto/13</em>
    <p>Através da Wakai, eu trabalho como consultor de desenvolvimento Front-end na Locaweb.</p>

    <h5>Code Miner 42</h5>
    <em>Setembro/12 - Julho/13</em>
    <p>Aqui foi o inicio, aprendi sobre desenvolvimento front-end, qualidade do código e testes, trabalhei em projetos que utilizavam linguagem Ruby on Rails e aprendi um pouco sobre projetos em JAVA. trabalhei em projeto como o ESPN e o Cidade Democrática.</p>
  </article>

</main>
